<h1>Test Innovators | User Section {{ vm.userSectionId }} Analysis</h1>

<section>
  <p ng-if='vm.sectionErrors.length'>
    Oops! Looks like user section {{ vm.userSectionId }} is invalid. Please see the errors below:
    <ul>
      <li ng-repeat='error in vm.sectionErrors'>
        {{ error }}
      </li>
    </ul>
  </p>
  <p ng-if='!vm.sectionErrors.length'>This section is valid! No errors detected.</p>
</section>