body {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: #333333;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

li {
  line-height: 40px;
}

.svg-inline--fa {
  margin-right: 10px;
}

#root {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}